<h1>About Friends App</h1>
<br/>
<pre style="font-size: 18px">This is a simple app having following functionalities:
<br/>
    1. Signing Up and Logging In with Authentication
    <br/>
    2. Adding New Friends to Database
    <br/>
    3. Updating Existing Friends
    <br/>
    4. Deleting Existing Friends
    <br/>
    5. Showing a Friend List with all friends
    <br/>
</pre>